:root{
  --themeLightBackground:"#474BFF";
  --themeDarkBackground:"#1B242C";

  --theme-light-text-color:"#09090B";
  --theme-dark-text-color:"#FFFFFF";
}


/*---------- Side Scrollbar ----------*/

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #474BFF;
  border-radius: 10px;
}



::-webkit-scrollbar-track {
  background: #d4d4d8;
}

